
body {
    background-image: url("zane-lee-IHj0xtWtLKE-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    color: #f5f5f5;
    
   }

h1 {
    position: relative;
}
h2 {
    position: relative;
}
   